*{
  box-sizing: border-box;
}

body{
  background-image: url(background.jpg);
  width: auto;
  height: 700px;
  background-repeat: no-repeat;
  background-size:cover;
}

.base{
  width: 1000px;
  height: 640px;
  background-color: rgba(0,0,0,0.6) ;
  border-radius: 15px;
  position: absolute;
  top: 6%;
  left: 20%;
}

img{
  width: 18%;
  height: auto;
  margin-top: 70px;
}

header  div{
  color:lime;
  font-size:25px;
  font-family: 'Pacifico', cursive;
}

header{
  text-align: center;
}

nav{
  text-align: center;
  background-color: lime;
  margin: 3px 25px;
  padding: 10px 10px;
  border-radius: 2px;
}

section{
  color: white;
  margin-left: 25px;
}

section > h2{
  display: inline-block;
  margin-bottom: 5px;
}

#media{
  width: 300px;
  margin-left: 0px;
  height: 20px;
  border-radius: 5px;
  background-color: orange;
  border-color: orange;
}

#alta{
  width: 500px;
  margin-left: 0px;
  height: 20px;
  border-radius: 5px;
  background-color: green;
  border-color:green;
}

#bassa{
  width: 100px;
  margin-left: 0px;
  height: 20px;
  border-radius: 5px;
  background-color: red;
  border-color: red;
}
